@import "tailwindcss";

@theme {
  --color-brand-dark: #0B1320;
  --color-brand-green: #33FF55;
  --color-brand-light: #EEEEEE;
  
  --font-inter: "Inter", sans-serif;
  --font-pixel: "Press Start 2P", system-ui;
}

:root {
  background: var(--color-brand-dark);
  color: var(--color-brand-light);
  font-family: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}
